/* Navbar Main */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 10px 20px;
    color: #fff;
    position: relative;
  }
  
  /* Logo */
  .logo-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 60%;
  }
  
  /* Nav Links Desktop */
  .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .login-btn {
    font-weight: bold;
  }
  
  /* Hamburger (Mobile) */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger span {
    display: block;
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 5px;
  }
  
  /* ---------- MOBILE RESPONSIVE ---------- */
  @media (max-width: 768px) {
  
    /* Hide Desktop Menu */
    .nav-links {
      position: absolute;
      top: 70px;
      left: 0;
      background: #222;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      padding: 20px 0;
      display: none;
    }
  
    /* Show Hamburger */
    .hamburger {
      display: flex;
    }
  
    /* When menu open */
    .nav-links.open {
      display: flex;
    }
  }
  